<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{ $.Site.BaseURL }}">
      
    <!-- title-->
    <title>{{ if .IsHome }}{{ .Site.Title }}
    {{ else }} {{ .Page.Title }} — portfolio by kelly luo {{ end }}</title>
      
    <meta name="author" content="Kelly Luo">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
      
    <link rel="favicon icon" href="{{ "images/klcircle.png" | relURL }}" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ if .IsHome }}{{ $.Site.Params.sitetitle }} {{ else }} {{ .Page.Title }} — portfolio by kelly luo {{ end }}">
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta name="keywords" content="kelly luo, twitter">
    
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kellyluo.me/">
    <meta property="og:title" content="{{ if .IsHome }}{{ $.Site.Params.sitetitle }} {{ else }} {{ .Page.Title }} — portfolio by kelly luo {{ end }}">
    <meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta property="og:image" content="{{ if $.Page.Params.heroimage }}{{ $.Page.Params.heroimage | absURL }}{{ else }}https://portfolio.kellyluo.me/images/retrospect.jpg{{end}}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://kellyluo.me/">
    <meta property="twitter:title" content="{{ if .IsHome }}{{ $.Site.Params.sitetitle }} {{ else }} {{ .Page.Title }} — portfolio by kelly luo {{ end }}">
    <meta property="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta property="twitter:image" content="{{ if $.Page.Params.heroimage }}{{ $.Page.Params.heroimage | absURL }}{{ else }}https://portfolio.kellyluo.me/images/retrospect.jpg{{end}}">
    
    <!-- css -->
    <link href="{{ "css/style.css" | relURL}}" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>   
    <link href="https://fonts.googleapis.com/css?family=Volkhov:100, 400,400i, 700|Open+Sans:400,400i,700" rel="stylesheet">
      
    <!-- ga -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173560135-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173560135-1');
    </script>

  </head>
